/*portfolio mobile&pad only, flex menues, css version 2018.03.16*/
body, main, section,article,header,footer,a,nav,ul,ol,li,p,h1,h2,h3,i,strong{
	margin: 0;
	padding: 0;
	border: 0;
}
body, 
header,
footer,
.menu-wrapper,
.menu-list ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
body, 
header,
footer{
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	width: 100vw;
}	
header{
	background-color: #c3c3c3;
	z-index: 100;
}
h1{
	font-size: 1.8em;
	font-weight: 500;
	font-family: 'Sanchez', serif;
	white-space: nowrap;
}
h2{
	font-family: 'Sanchez', serif;
	font-size: 1.6em;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #66757f;
	color:#fff;
}
h3, 
.menu-list a{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	padding-top:auto;
}
.menu-list li, 
h1, 
h2{
	text-transform: uppercase;
}
li{
	list-style: none;
}
section p, 
section li{
	font-family: 'Oxygen';
	font-size: 1em;
	font-weight: normal;
}
section li:before{
	content: '- ';
}
p, h3, li{
	margin:auto 2vw auto 2vw;
	text-align: justify;
}
p{
	text-indent: 30px;
}
a{
	color:#55b9ff;
}
a:visited{
	color:#1e00ff;
}
img{
	width: 100vw;
}
.logo{
	width: 2em;
}
.fixed{
	top: -100px;
	position: fixed;
}
.menu-wrapper{
	-webkit-flex-flow: row-reverse nowrap;
	-moz-flex-flow: row-reverse nowrap;
	-ms-flex-flow: row-reverse nowrap;
	-o-flex-flow: row-reverse nowrap;
	flex-flow: row-reverse nowrap;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.menu-wrapper a,
.menu-wrapper h1{
	display: inline-block;
}
.menu-wrapper h1{
	margin-left: 5vw;
}
.material-icons{
	color:#00adf1;
	vertical-align: middle;
	text-align: center;
	font-size: 2em !important;
	padding: 3vw;
	line-height: 0.8em !important;
}
.menu-wrapper .material-icons{
	line-height: 1em !important;
}
.menu-list{
	background-color: #c9d7d3;
	opacity: 1;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	overflow-x: hidden;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s;
	transition: width 0.5s;
}
.hidden{
	visibility: hidden;
	opacity: 0;
	width: 0;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}/* 
.fixed-menu{
	position: static;
} */
.menu-list ul{
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 100vh;
}	
.menu-list li{
	border-bottom: 1px solid #fff;
	padding:3vw;
	width: 100%;
}
.menu-list .close_button{
	position: absolute;
	top:0;
	right: 0;
	width: 100%;
	text-align: right;
}
.menu-list li:nth-of-type(1){
	margin-top: 50px;
}
.menu-list li:last-of-type{
	margin-bottom:10px;
	border-bottom: none;
}
.menu-list li:hover,
.menu-list li.active{
	color:#00adf1;
	background: #66757f;
}
.menu-list a:visited{
	color: #00adf1;
}
section p:first-of-type{
	padding-top: 10px;
}
section:nth-of-type(1) h2, 
section:nth-of-type(2) h2{
	margin-top: 0;
}
section:nth-child(1){
	background-color: #00adf1;
	color: #fff;
}
section:nth-child(2){
	background-color: #dfe9ee;
}
section:nth-child(3){
	background-color: #c9d7de;
}
section:nth-child(4){
	background-color: #fff;
}
.content-2 p:first-of-type,
.content-3 h3,
.content-1 h3:first-of-type,
.content-4 h3:first-of-type{
	padding-top: 20px;
}
section h3{
	
}
.hr{
	border-bottom: 3px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-color:#00adf1;
	border-style: solid;
}
.content-1 img, 
.fb-game-img{
	width: 80%;
	padding-left: 10%;
}
.content-1 img{
	padding-top: 20px;
	padding-right: 10%;
}
.content-1, 
.footer-menu,
footer{
	background-color: #00adf1;
}
.content-wrapper{
	width: 100%;
	height: 130px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow:ellipsis;
	white-space: nowrap;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.read-more{
	width: 100px;
	text-align: right;
	padding-bottom: 10px;
	display: block;	
	font-family: 'Sanchez', serif;
	font-size:1em;
}
.content-3 h3, 
.content-4 h3{
	font-weight: 600;
	text-align: center;
	padding-bottom: 10px;
}
.content-4 .term{
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	color:#00adf1;
}
.get-bottom-padding{
	padding-bottom: 10px;
}
footer,
,.footer-menu li{
	width: 100%;
	height: 100%;
}
#footer_button{
	font-family: 'montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	text-decoration: none;
	text-align: center;
	padding: 3vw;
}
footer #footer_button,
.footer-menu li{
	border-bottom: 1px solid #fff;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size:1.5em;
	text-align: center;
}
.footer-menu li{
	padding-top:0.6em;
	padding-bottom: 0.6em;
	margin: 0;
}
.footer-menu li:first-of-type{
	border-top: 1px solid #fff;
}
.footer-menu li:last-of-type{
	border-bottom: none;
}
.footer-menu a,.footer-menu a:visited{
	color: #fff;
}
.footer-menu{
	display: none;
	width: 100vw;
}
.footer-fixed-menu{
	position: fixed;
	display: block;
}
.nav-big {
	display: inline-block;
}
@media screen and (min-width: 501px){
	/* .fixed-menu{
		position: fixed;
	} */
	main{
		position: relative;
	}
	.nav-big {
		display: none !important;
	}
	.menu-wrapper{
		display: none;
		height: 50px;
	}
	.menu-list{
		position: static;
		height: 50px;
		visibility: visible;
		opacity: 1;
		width: 100%;
	}
	.menu-list ul,
	.content-1-wrapper{
		-webkit-flex-flow: row nowrap;
		-moz-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		-o-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	.menu-list ul{
		justify-content: center;
	}
	.menu-list li{
		margin: 0;
		padding: 15px 5px 15px 5px;
		display: inline-block;
		width: auto;
	}
	.menu-list li:first-of-type{
		margin-top: 0;
		margin-right: 0;
	}
	.menu-list a{
		font-size: 0.9em;
		font-weight: normal;
		width: auto;
	}
	.content-1-wrapper,
	.content-3{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.content-1-wrapper{
		justify-content: space-between;
	}
	.content-1-wrapper div h3{
		text-align: center;
	}
	.content-3{
		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		-o-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.content-3>h2{
		-webkit-order: 1;
		-moz-order: 1;
		-ms-order: 1;
		-o-order: 1;
		order: 1;
		width:100%;
	}
	.content-3 article:nth-of-type(1){
		-webkit-order: 2;
		-moz-order: 2;
		-ms-order: 2;
		-o-order: 2;
		order: 2;
		width: 50%;
		text-align: center;
	}
	.content-3 article:nth-of-type(2){
		-webkit-order: 3;
		-moz-order: 3;
		-ms-order: 3;
		-o-order: 3;
		order: 3;
		width: 50%;
	}
	.content-3 article:nth-of-type(3){
		-webkit-order: 4;
		-moz-order: 4;
		-ms-order: 4;
		-o-order: 4;
		order: 4;
		width: 50%;
	}
	.content-3 article:nth-of-type(4){
		-webkit-order: 5;
		-moz-order: 5;
		-ms-order: 5;
		-o-order: 5;
		order: 5;
		width: 50%;
	}
	.content-3 .bt-news-page,
	.content-3 .media-size-500{
		width: 90%;
		padding: 10px;
	}
	.hr{
		border-bottom: none;
	}
	#contacts{
		height:50px;
	}
	#contacts a{
		padding: 10px;
	}
	#contacts .footer-menu li{
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 0.9em;
	}
}